body{
    overflow-x: hidden;
    font-family: europa, sans-serif;
}
#nav {
    border: none;
    background-color: white ;
    height:10%;
    width:100%;
    z-index: 10;

}
#heading-main{
    color: #15135e;
    position: absolute;
    font-size: 35px;
    top: -10px;
    left: 20vw;
}
#icon-nav{
    height:7vh;
    position: absolute;
    left: 15vw;
    top:10px;
}
#grey_box{
    background-color:#e7ebed;
    /*position: absolute;
    top:12%;*/
    height:50vh;
    width:100%;
}
#heading_name {
    position: relative;
    top:50px;
    left:60%;
    color: #4B7FFB;
    font-size: 40px;
    font-weight: 600;
}

.button_nav {
    border: none;
    background-color: #4B7FFB;
    border-radius: 20px;
    height: 35px;
    width: 150px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top:-45px;
    cursor: pointer;
    left:400px;
}

.items{
    position: absolute;
    left: 50%; 
}

.items ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    
}
.list{
    display: block;
    color: #4B7FFB;
    text-align: center;
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
  }
  .table_zone{
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    width: 40vw;
  }
  .table_zone h1{
    color: #4B7FFB;
    font-family: europa, sans-serif;
    letter-spacing: 0px;
  }
  .level{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .level_item{
    order: 1;
    height: 10vh;
    font-size: 22px;
    font-weight: bold;
  }
 table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none !important;
}
table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3{
    color: #15135B;
}