{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	
</head>
<body>

	<div class="main_container">
		<div class="header">
			<img src="../static/images/Group 29.png">
			<a href="#">DocApp</a>
		</div>
		<div>
			  <form  action="https://covihack.pythonanywhere.com/auth/login/" method="POST" enctype="application/json">
				<h2>Enter your credentials</h2>
				<input type="text" id="email_id" name="email" placeholder="Email ID" type="email">
            <input type="text" id="username"  name="username"placeholder="Username">
		    <input  id="password"  placeholder="Password" name="password"type="password">
            <span id='message'></span>
		    <input type="submit" value="Login">
		  </form>
		</div>


<script src="../static/js/login.js"></script>

	</div>
</body>
</html>